
<div class="header">
    <h3 class="text-muted">API Document For {{api}}</h3>
    <label>API URL
        <input type="text" ng-model="api"/>
    </label>
    <button class="btn" ng-click="getDoc(api)">Get Document</button>
</div>


<div class="content">

    <h2>API</h2>

    <div class="modal fade" id="tryResponse">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">API Response</h4>
                </div>
                <pre class="modal-body" id="tryResponseBody">
                    Waiting for response...
                </pre>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div ng-repeat="api in doc.APIs" ng-init="apiIndex = $index">
        <div id="api_{{$index}}" class="panel panel-primary">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#api_content_{{$index}}" aria-expanded="false"
                   aria-controls="api_content_{{$index}}">
                    <div class="label label-success">{{ api.method }}</div>
                    {{ api.path }}
                </a>
            </div>
            <div ng-show="api.description" class="panel-body ">
                {{ api.description }}
            </div>
            <div id="api_content_{{$index}}" class="panel-collapse collapse">
                <div class="panel-body ">
                    <p>
                        <strong>Consumes</strong>:
                        <span ng-show="!api.consumes">All</span>
                        <span ng-show="api.consumes">{{ api.consumes }}</span>
                    </p>

                    <p>
                        <strong>Produces</strong>:
                        <span ng-show="!api.produces">All</span>
                        <span ng-show="api.produces">{{ api.produces }}</span>
                    </p>

                    <button ng-hide="tryApis[$index].tryApi" class="btn-success" ng-click="toggleTryApi($index, api)">Try It</button>
                    <button ng-show="tryApis[$index].tryApi" class="btn-primary" ng-click="sendAPIRequest($index)"
                            data-toggle="modal" data-target="#tryResponse">Send</button>
                    <button ng-show="tryApis[$index].tryApi" class="btn-danger" ng-click="toggleTryApi($index)">Cancel</button>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Parameters</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th ng-show="tryApis[$index].tryApi">Value</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Belongs</th>
                            <th>Limitations</th>
                        </tr>
                        <tr ng-repeat="parameter in api.parameters" ng-init="property = parameter.schema">
                            <td>{{ parameter.name }}</td>
                            <td ng-show="tryApis[apiIndex].tryApi">
                                <input ng-hide="isFile(property)" type="text" ng-model="tryApis[apiIndex].request[parameter.belongs][parameter.name]"/>
                                <input class="file_{{ apiIndex }}" name="{{ parameter.name }}" ng-show="isFile(property)" type="file" />
                            </td>
                            <td>{{ parameter.description }}</td>
                            <td>
                                <span ng-if="getId(property)"><a ng-click="toModel(getId(property))">{{ cleanId(getId(property)) }}</a></span>
                                <span ng-if="getId(property) == null">{{ property.type }}</span>
                                <span ng-if="getId(property.items)">
                                    [<a ng-click="toModel(getId(property.items))">{{ cleanId(getId(property.items)) }}</a>]
                                </span>
                                <span ng-if="getId(property.items) == null">[{{ property.items.type }}]</span>
                                <span ng-if="getId(property.additionalProperties)">
                                    {string -> <a ng-click="toModel(getId(property.additionalProperties))">{{ cleanId(getId(property.additionalProperties)) }}</a>}
                                </span>
                                <span ng-if="getId(property.additionalProperties) == null">
                                    {string -> {{ property.additionalProperties.type }}}
                                </span>
                            </td>
                            <td>{{ parameter.belongs }}</td>
                            <td>
                                <table class="table table-bordered">
                                    <tr>
                                        <th ng-repeat="(k, v) in parameter.limitations">{{ k }}</th>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="(k, v) in parameter.limitations">{{ v }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Response</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Type</th>
                        </tr>
                        <tr ng-repeat="resp in api.responses">
                            <td>{{ resp.code }}</td>
                            <td>{{ resp.description }}</td>

                            <td ng-init="property = resp.schema">
                                <span ng-if="getId(property)"><a ng-click="toModel(getId(property))">{{ cleanId(getId(property)) }}</a></span>
                                <span ng-if="getId(property) == null">{{ property.type }}</span>
                                <span ng-if="getId(property.items)">
                                    [<a ng-click="toModel(getId(property.items))">{{ cleanId(getId(property.items)) }}</a>]
                                </span>
                                    <span ng-if="getId(property.items) == null">[{{ property.items.type }}]</span>
                                <span ng-if="getId(property.additionalProperties)">
                                    {string -> <a ng-click="toModel(getId(property.additionalProperties))">{{ cleanId(getId(property.additionalProperties)) }}</a>}
                                </span>
                                <span ng-if="getId(property.additionalProperties) == null">
                                    {string -> {{ property.additionalProperties.type }}}
                                </span>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h2>Model</h2>

    <div ng-repeat="(id, model) in doc.models">
        <div class="panel panel-success" id="model_{{model.index}}">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#model_content_{{model.index}}" aria-expanded="false"
                   aria-controls="model_content_{{model.index}}">{{ cleanId(id) }}</a>
            </div>
            <div id="model_content_{{model.index}}" class="panel-collapse collapse">
                <table class="table table-bordered">
                    <tr>
                        <th>Field</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                    <tr ng-repeat="(field, property) in model.properties">
                        <td>{{ field }}</td>
                        <td>
                            <span ng-if="getId(property)"><a ng-click="toModel(getId(property))">{{ cleanId(getId(property)) }}</a></span>
                            <span ng-if="getId(property) == null">{{ property.type }}</span>
                            <span ng-if="getId(property.items)">
                                [<a ng-click="toModel(getId(property.items))">{{ cleanId(getId(property.items)) }}</a>]
                            </span>
                            <span ng-if="getId(property.items) == null">[{{ property.items.type }}]</span>
                            <span ng-if="getId(property.additionalProperties)">
                                {string -> <a ng-click="toModel(getId(property.additionalProperties))">{{ cleanId(getId(property.additionalProperties)) }}</a>}
                            </span>
                            <span ng-if="getId(property.additionalProperties) == null">
                                {string -> {{ property.additionalProperties.type }}}
                            </span>
                        </td>
                        <td>{{ property.description }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
